@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import '/MyVariables.scss';
@import '/MyMixins.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

// HEADER -------------------

.header-container {
    @include container;
    @include flex-alignCenter;
    height: 115px;
    justify-content: space-between;
}

.logo-wrapper {

    .logo{
        height: 80px;
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-transform: uppercase;
    height: 100%;

    li {

        a{
            color: black;  
            font-weight: bold; 
            height: 100%; 
            @include flex-alignCenter;
            position: relative;
        }
    }

    li:nth-child(2) a{
        color: $blue;

        &::after{
            content: '';
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            bottom: 0;
            background-color: $blue;
        }
    }
}

// MAIN ---------------------

.jumbotron{
    height: 398px;
    background-image: url('../img/jumbotron.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .current-series{
    background-color: #1C1C1C;

    .container {
        @include container;
        display: flex;
        flex-direction: column; 
        position: relative;

        .section-title{
            text-transform: uppercase;
            color: white;
            height: 53px;
            width: 244px;
            text-align: center;
            line-height: 53px;
            position: absolute;
            bottom: 96%;
            background-color: $blue;
        }

        .comics-container{
            display: flex;
            flex-wrap: wrap;
            padding-top: 53px;
            gap: 2%;

            
            .card-wrapper{
                height: fit-content;
                width: calc(90% / 6);
                margin-bottom: 30px;
                color: white;
                font-size: 14px;
            }
            .series-image{
                color: white;
                overflow: hidden;
                height: 169px; 
                margin-bottom: 10px;
                
                img{
                    width: 100%;
                    // potevo anche usare object-fit e object-position, togliendo overflow e height da series-image:
                    // width: 100%;
                    // display: block;
                    // aspect-ratio: 1/1;
                    // object-fit: cover;
                    // object-position: center;
                }
            }
            .series-info{
                
                .series-name, .type, .price{
                    margin-bottom: 7px;
                }
                .series-name{
                    text-transform: uppercase;
                    font-weight: 500;
                }
                
                .type{
                    color: #acacac;
                }
                
                .price{
                    color: #55BA59;
                }
            }
        }

        .load-more{
            width: 185px;
            height: 35px;
            align-self: center;
            color: white;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 25px;
            background-color: $blue;
        }
    }
  }

//   FOOTER ----------------

footer{
    background-image: url('../img/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.info-section{
    
    .container{
        @include container;
        background-image: url('../img/dc-logo-bg.png');
        background-position: right;
        background-size: 45%;
        background-repeat: no-repeat;
        display: flex;
        gap: 25px;
        padding: 55px 0;
        .col{
            h4{
                text-transform: uppercase;
                color: white;
                margin-bottom: 10px;
            }
            li{
                line-height: 20px;
                a{
                    color: #acacac;
                    font-size: 12px;
                }
            }
            .dc-comics{
                margin-bottom: 25px;
            }
        }
    }
}
.social-section{ 
    height: 90px;
    background-color: #303030;
    flex-grow: 1;
    @include flex-alignCenter;

    .container{
        width: 80%;
        margin: 0 auto;
        @include flex-alignCenter;
        justify-content: space-between;
        
        button{
            background-color: transparent;
            border: 2px solid $blue;
            color: white;
            padding: 12px;
            text-transform: uppercase;
        }

        .social-media{
            @include flex-alignCenter;
            gap: 20px;
            color: $blue;

            .social-wrapper{
                display: flex;
                align-items: center;
                gap: 18px;

                a{
                    @include flex-alignCenter;
                    
                    img{
                        height: 30px;
                    }
                }
            }
        }
    }
}
