@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import '/MyVariables.scss';
@import '/MyMixins.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

// MAIN ---------------------

.jumbotron{
    height: 398px;
    background-image: url('../img/jumbotron.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .current-series{
    background-color: #1C1C1C;

    .container {
        @include container;
        display: flex;
        flex-direction: column; 
        position: relative;

        .section-title{
            text-transform: uppercase;
            color: white;
            height: 53px;
            width: 244px;
            text-align: center;
            line-height: 53px;
            position: absolute;
            bottom: 96%;
            background-color: $blue;
        }

        .comics-container{
            display: flex;
            flex-wrap: wrap;
            padding-top: 53px;
            gap: 2%;

            
            .card-wrapper{
                height: fit-content;
                width: calc(90% / 6);
                margin-bottom: 30px;
                color: white;
                font-size: 14px;
            }
            .series-image{
                color: white;
                overflow: hidden;
                height: 169px; 
                margin-bottom: 10px;
                
                img{
                    width: 100%;
                    // potevo anche usare object-fit e object-position, togliendo overflow e height da series-image:
                    // width: 100%;
                    // display: block;
                    // aspect-ratio: 1/1;
                    // object-fit: cover;
                    // object-position: center;
                }
            }
            .series-info{
                
                .series-name, .type, .price{
                    margin-bottom: 7px;
                }
                .series-name{
                    text-transform: uppercase;
                    font-weight: 500;
                }
                
                .type{
                    color: #acacac;
                }
                
                .price{
                    color: #55BA59;
                }
            }
        }

        .load-more{
            width: 185px;
            height: 35px;
            align-self: center;
            color: white;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 25px;
            background-color: $blue;
        }
    }
  }
