@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

500&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 115px;
  justify-content: space-between;
}

.logo-wrapper .logo {
  height: 80px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-transform: uppercase;
  height: 100%;
}

.navbar li a {
  color: black;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar li:nth-child(2) a {
  color: #0082F9;
}

.navbar li:nth-child(2) a::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: #0082F9;
}

.jumbotron {
  height: 398px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.current-series {
  background-color: #1C1C1C;
}

.current-series .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.current-series .container .section-title {
  text-transform: uppercase;
  color: white;
  height: 53px;
  width: 244px;
  text-align: center;
  line-height: 53px;
  position: absolute;
  bottom: 96%;
  background-color: #0082F9;
}

.current-series .container .comics-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 53px;
  gap: 2%;
}

.current-series .container .comics-container .card-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 15%;
  margin-bottom: 30px;
  color: white;
  font-size: 14px;
}

.current-series .container .comics-container .series-image {
  color: white;
  overflow: hidden;
  height: 169px;
  margin-bottom: 10px;
}

.current-series .container .comics-container .series-image img {
  width: 100%;
}

.current-series .container .comics-container .series-info .series-name,
.current-series .container .comics-container .series-info .type,
.current-series .container .comics-container .series-info .price {
  margin-bottom: 7px;
}

.current-series .container .comics-container .series-info .series-name {
  text-transform: uppercase;
  font-weight: 500;
}

.current-series .container .comics-container .series-info .type {
  color: #acacac;
}

.current-series .container .comics-container .series-info .price {
  color: #55BA59;
}

.current-series .container .load-more {
  width: 185px;
  height: 35px;
  align-self: center;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
  background-color: #0082F9;
}

footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info-section .container {
  width: 80%;
  margin: 0 auto;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-position: right;
  background-size: 45%;
  background-repeat: no-repeat;
  display: flex;
  gap: 25px;
  padding: 55px 0;
}

.info-section .container .col h4 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.info-section .container .col li {
  line-height: 20px;
}

.info-section .container .col li a {
  color: #acacac;
  font-size: 12px;
}

.info-section .container .col .dc-comics {
  margin-bottom: 25px;
}

.social-section {
  height: 90px;
  background-color: #303030;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.social-section .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-section .container button {
  background-color: transparent;
  border: 2px solid #0082F9;
  color: white;
  padding: 12px;
  text-transform: uppercase;
}

.social-section .container .social-media {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #0082F9;
}

.social-section .container .social-media .social-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.social-section .container .social-media .social-wrapper a {
  display: flex;
  align-items: center;
}

.social-section .container .social-media .social-wrapper a img {
  height: 30px;
}

